@font-face {
  font-family: "iconfont"; /* Project id 3534251 */
  src: url('iconfont.woff2?t=1718354163280') format('woff2'),
       url('iconfont.woff?t=1718354163280') format('woff'),
       url('iconfont.ttf?t=1718354163280') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-huanxing:before {
  content: "\e79a";
}

.icon-canyin:before {
  content: "\e644";
}

.icon-jingdian:before {
  content: "\e645";
}

.icon-zhusu:before {
  content: "\e646";
}

.icon-duanxin:before {
  content: "\e647";
}

.icon-xinxi:before {
  content: "\e649";
}

.icon-xiangqu:before {
  content: "\e64c";
}

.icon-canting:before {
  content: "\e64f";
}

.icon-daohang:before {
  content: "\e651";
}

.icon-dizhi:before {
  content: "\e652";
}

.icon-yuehui_date13-01:before {
  content: "\e610";
}

.icon-yuehui_date11-01:before {
  content: "\e611";
}

.icon-yuehui_date7-01:before {
  content: "\e612";
}

.icon-yuehui_date6-01:before {
  content: "\e613";
}

.icon-yuehui_date10-01:before {
  content: "\e614";
}

.icon-yuehui_date8-01:before {
  content: "\e615";
}

.icon-ai_love-01:before {
  content: "\e616";
}

.icon-shangchuan:before {
  content: "\100db";
}

.icon-kuaijin:before {
  content: "\100dc";
}

.icon-jiemi:before {
  content: "\100da";
}

.icon-kafei:before {
  content: "\e657";
}

.icon-shutiao:before {
  content: "\e658";
}

.icon-zhenzhunaicha:before {
  content: "\e659";
}

.icon-xuegao:before {
  content: "\e65a";
}

.icon-nailao:before {
  content: "\e65b";
}

.icon-kele:before {
  content: "\e65c";
}

.icon-tiantong:before {
  content: "\e65d";
}

.icon-hanbao:before {
  content: "\e65e";
}

.icon-xiezishousi:before {
  content: "\e65f";
}

